<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#Home_content},~{::title},~{::script})}">
<head>
   <title>Home page</title>
   </head>
<body>
    <div id = "Home_content">

       
        <h1 data-th-text="${name}"></h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis veniam quod possimus. Quasi voluptates a ipsam, animi quae expedita at pariatur atque aliquid fuga. Quia quos suscipit voluptates quasi id.
        sam saepe laudantium dolore impedit non cum unde totam ex consequuntur sint? Explicabo, natus! Modi, atque natus? Praesentium, magnam neque. Reiciendis quae doloremque delectus!
        es accusantium deserunt. Exercitationem ut est labore perferendis nobis necessitatibus amet rerum odit accusamus sequi id possimus, aut ea veritatis, facere qui asperiores autem doloribus recusandae at voluptatibus?</p>
    </div>
    <script>
        console.log("home page content")
    </script>
</body>
</html>