<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background:#e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">

       
        <h1 data-th-text="${name}"></h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis veniam quod possimus. Quasi voluptates a ipsam, animi quae expedita at pariatur atque aliquid fuga. Quia quos suscipit voluptates quasi id.
        Odit quo debitis doloremque perferendis enim quidem dolores! Nemo, quasi dignissimos saepe culpa, qui placeat maiores ducimus perferendis officiis, ad rerum iste distinctio quo sint atque voluptates vel dolorum recusandae!
        Voluptatibus dolore corporis quaerat ut. Facilis hic repellendus sit dolorem exercitationem, dolor voluptatem corrupti, quaerat cupiditate atque veritatis. Iste nisi tempora quidem beatae? Quas officiis incidunt ab deserunt harum inventore.
        Nobis voluptate vero, tempore nam at laboriosam saepe laudantium dolore impedit non cum unde totam ex consequuntur sint? Explicabo, natus! Modi, atque natus? Praesentium, magnam neque. Reiciendis quae doloremque delectus!
        es accusantium deserunt. Exercitationem ut est labore perferendis nobis necessitatibus amet rerum odit accusamus sequi id possimus, aut ea veritatis, facere qui asperiores autem doloribus recusandae at voluptatibus?</p>
    </div>
</body>
</html>