<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#about_content},~{::title},~{::script})}">
<head>
   <title>Login Page</title>

</head>
<body>
    <div id="about_content">
        <div class="grid grid-cols-12">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <div 
                    class="bg-neutral-primary-soft block  p-6 border-t-[10px] border-gray-500 bg-white rounded-xl shadow-xs hover:bg-gray-50">
                   
                   <!-- message here -->
                    <div data-th-replace="~{message::messagebox}"></div>
                   
                   
                    <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8">Login Here</h5>
                    <p class="text-body">Start managing contactson cloud..
                    </p>

                    <div class= "text-red-600 text-center my-3" th:if="${param.error}">
                        Invalid username or password.
                         </div>
                         <div class="text-green-600 text-center my-3" th:if="${param.logout}">
                            You have been logged out.
                         </div>

                    <form
                          method="post"
                            data-th-action="@{/authenticate}"
                            class="mt-4">
                           
                           
                       
                        <!-- username field -->
                        <div class="mb-3">
                            <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
                            <input
                            name="email"
                             type="email" 
                            id="email"
                           
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                placeholder="name@flowbite.com" required />
                                <!-- <p 
                                 data-th-if="${#fields.hasErrors('email')}"
                                 data-th-errors="*{email}"
                                 class = "text-red-600 py-2 px-1 ">
                                </p> -->
                        </div>

                       

                        <!-- password -->
                        <div class="mb-5">
                            <label for="password" class="block mb-2.5 text-sm font-medium text-heading">
                                Password</label>
                            <input 
                            type="password"
                             id="password"
                             name="password"
                            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
                            <!-- <p 
                                 data-th-if="${#fields.hasErrors('password')}"
                                 data-th-errors="*{password}"
                                 class = "text-red-600 py-2 px-1 ">
                                </p> -->
                        </div>

                        
                    <!-- buttons -->
                     <div class="mb-3 flex justify-center space-x-3">
                        <button type="submit" class="px-3 py-2 rounded bg-gray-800 text-white hover:bg-gray-700">Login</button>
                        <button type="reset" class="px-3 py-2 rounded bg-gray-500 text-white hover:bg-gray-600">Reset</button>
                     </div>


                    </form>

                    <div class="social-buttons-container flex justify-center mt-10">
                        <a class="login-with-google-btn  px-3 py-2" data-th-href="@{'/oauth2/authorization/google'}">Login With Google</a>
                    </div>
                </div>

            </div>
        </div>
    <script>
        console.log("login page")
    </script>
    <script>
        console.log("second login page script")
    </script>
</body>
</html>