<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>About Page</title>

</head>

<body>
    <div id="content">

        <div class="grid grid-cols-12">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <div 
                    class="bg-neutral-primary-soft block  p-6 border-t-[10px] border-gray-700 bg-white rounded-xl shadow-xs hover:bg-gray-50">
                   
                   <!-- message here -->
                    <div data-th-replace="~{message::messagebox}"></div>
                   
                   
                    <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8">Signup Here</h5>
                    <p class="text-body">Start managing contactson cloud..
                    </p>

                    <form data-th-action="@{'/do-register'}" 
                            method="post" 
                            class="mt-4"
                            th:object="${userForm}"
                            novalidate>
                           
                        <!-- name -->
                        <div class="mb-3">
                            <label for="name" class="block mb-2.5 text-sm font-medium text-heading">Name</label>
                            <input type="text"
                                     id="name"
                                     th:field="*{name}"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                placeholder="John Doe" required />
                                 <p 
                                 data-th-if="${#fields.hasErrors('name')}"
                                 data-th-errors="*{name}"
                                 class = "text-red-600 py-2 px-1 ">
                                </p>
                        </div>
                       

                        <!-- email -->
                        <div class="mb-3">
                            <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
                            <input type="email" 
                            id="email"
                            th:field="*{email}"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                placeholder="name@flowbite.com" required />
                                <p 
                                 data-th-if="${#fields.hasErrors('email')}"
                                 data-th-errors="*{email}"
                                 class = "text-red-600 py-2 px-1 ">
                                </p>
                        </div>

                        <!-- Phone field -->
                        <div class="mb-5">
                            <label for="phone" class="block mb-2.5 text-sm font-medium text-heading">Contact
                                Number</label>
                            <input type="text" 
                                    id="phone"
                                    th:field="*{phoneNumber}"
                                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                                placeholder="982XXXXXXX" required />
                                <p 
                                 data-th-if="${#fields.hasErrors('phoneNumber')}"
                                 data-th-errors="*{phoneNumber}"
                                 class = "text-red-600 py-2 px-1 ">
                                </p>
                        </div>

                        <!-- password -->
                        <div class="mb-5">
                            <label for="password" class="block mb-2.5 text-sm font-medium text-heading">New
                                Password</label>
                            <input type="password"
                             id="password "
                             th:field="*{password}"
                            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
                            <p 
                                 data-th-if="${#fields.hasErrors('password')}"
                                 data-th-errors="*{password}"
                                 class = "text-red-600 py-2 px-1 ">
                                </p>
                        </div>

                        <!-- about -->
                    <div class="mb-3">
                        <label for="about" class="block mb-2.5 text-sm font-medium text-heading">Write something about yourself</label>
                        <textarea id="about" rows="4" th:field="*{about}"
                            class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full p-3.5 shadow-xs placeholder:text-body"
                            placeholder="Write here..."></textarea>
                            <p 
                                 data-th-if="${#fields.hasErrors('about')}"
                                 data-th-errors="*{about}"
                                 class = "text-red-600 py-2 px-1 ">
                                </p>
                    </div>

                    <!-- buttons -->
                     <div class="mb-3 flex justify-center space-x-3">
                        <button type="submit" class="px-3 py-2 rounded bg-gray-800 text-white hover:bg-gray-700">Signup</button>
                        <button type="reset" class="px-3 py-2 rounded bg-gray-500 text-white hover:bg-gray-600">Reset</button>
                     </div>


                    </form>
                </div>

            </div>
        </div>
    </div>

    <script>
        console.log("Signup Page");
    </script>
</body>

</html>