<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#service_content},~{::title},~{::script})}">
<head>
    <title>Services Page</title>
</head>
<body>
    <section id="service_content">
        <h1>Our Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, natus!</p>
        <h2>Services offerend by SCM</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis officia quasi numquam.</p>
    </section>
    <script>
        console.log("service page")
    </script>
    <script>
        console.log("second service page script")
    </script>
</body>
</html>